# Ignorer l'environnement virtuel
venv/
.venv/

# Fichiers Python compilés
__pycache__/
*.pyc

# Variables d’environnement (secrets, API keys)
.env

# Dossiers de config d’éditeur
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Données locales
data/

# Modèles et poids

offload/

# Dossiers de sortie et checkpoints
runs/

# Logs et fichiers lourds
*.log
*.csv
*.jsonl

# Caches de libs
.cache/
huggingface/
torch_cache/

# Notebooks Jupyter
.ipynb_checkpoints/
*.ipynb~
